<h1>Welcome Home</h1>

<button type="button" name="button">
  <a href="/students/generate_names">Fill Names</a>
</button>
  <table id="myTable"class="table">
    <thead class="thead-dark">
      <tr>
        <th onclick="sortTable(0)" scope="col">Group ID</th>
        <th onclick="sortTable(1)" scope="col">Group Name</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td><a href="/<%= group.groupid %>"><%= group.groupid %></a></td>
        <td><a href="/<%= group.groupid %>"><%= group.groupname %></a></td>
      </tr>
      <% end %>

    </tbody>
  </table>
