<h1>Show</h1>
<<<<<<< HEAD

<h2>ID: <%= @students.studentid %></h2>
<h2>First Name: <%= @students.firstname %></h2>
<h2>Last Name: <%= @students.lastname %></h2>
=======
>>>>>>> ddff610dd68bc82b48c97828b31d2a7a27420267
