<div class="navbar">

  <a href="/">
    <img class="logo" src="images/spartaGlobal.png" alt="">
  </a>
  <h1 class="navHead">Placeholder Title</h1>

  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/new">Add New Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Show Students Attendence</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>
  </div>
