<div class="navbar">
  <a href="/">
    <img class="logo" src="images/sparta-global-logo-white.svg" alt="">
  </a>
  <h1 class="navHead">Sparta Register</h1>

  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/new">Add New Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Show Students Attendence</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
</ul>
  </div>
