<div class="navbar">
  <a href="/">
    <img class="logo" src="images/sparta-global-logo-white.svg" alt="">
  </a>
  <h1 class="navHead">Sparta Register</h1>

  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/new">Add New Student</a>
  </li>
<<<<<<< HEAD
  <li class="nav-item">
    <a class="nav-link" href="#">Show Students Attendance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
=======
>>>>>>> 1f5d97f20b5a2bd806b9a32d5e73d9d599f8e464
</ul>
  </div>
