<<<<<<< HEAD
<form class="" action="/<%= @Student.studentid %>" method="post">
=======
<form class="" action="/" method="post">
>>>>>>> master

  <!-- Changes from post to put if no id is present(whether entering a new student or not) -->
  <% if @Student.studentid %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <div class="form-group">
    <label>First Name: </label>
    <!-- Will fetch the first name if one is available -->
    <input type="text" name="firstname" value="<%= @Student.firstname %>" placeholder="First Name">
  </div>

  <div class="form-group">
    <label>Last Name: </label>
    <!-- Will fetch the last name if one is available -->
    <input type="text" name="lastname" value="<%= @Student.lastname %>" placeholder="Last Name">
  </div>

  <!-- Button will change depending on whether you're adding/editing student info -->
  <% if !@Student.studentid %>
    <div class="form-group">
      <input type="submit" value="Add Student">
    </div>
  <% else %>
    <div class="form-group">
      <input type="submit" value="Save Changes">
    </div>
  <% end %>
</form>
