
.logo {
    width: 80px !important;
    height: 50px !important;
    border-radius: 20%;
}

body {
  background-color: gainsboro;
  font-family: "Khula", sans-serif;
}
th {
  cursor: pointer;
}

#myTable {
  background-color: #e9ecef;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
