
.logo {
    width: 80px !important;
    height: 50px !important;
      border-radius: 20%;
  }


body {
  background-color: gainsboro;
  font-family: "Khula", sans-serif;
}
/* 
.all_students {
display: flex;
} */
