<h1>Add a new group</h1>

<form class="" action="/" method="post">

  <input type="text" name="groupname" placeholder="Group Name" maxlength="5">
  <select name="grouptype">
    <option value="Engineering">Engineering</option>
    <option value="Business">Business</option>
  </select>
  <input type="submit" value="Add Group">
</form>
