<div class="container group_form">

  <h1>Add a new group</h1>
  <p>Group name is capped to 5 characters</p>
  <form class="" action="/" method="post">
    <input type="text" name="groupname" placeholder="Group Code" maxlength="5">
    <select name="grouptype">
      <option value="Engineering">Engineering</option>
      <option value="Business">Business</option>
    </select>
    <input type="submit" value="Add Group">
  </form>
</div>
