<div class="jumbotron">
  <h1 class="display-4">Sparta Register!</h1>
  <hr class="my-4">
  <p>This is a simple attendance tracking application.</p>
</div>

  <table id="studentTable"class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Group ID</th>
        <th scope="col">Group Name</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td><a href="/<%= group.groupid %>"><%= group.groupid %></a></td>
        <td><a href="/<%= group.groupid %>"><%= group.groupname.capitalize %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
